# Make sure to install those as additional_dependencies in the
# pre-commit hooks for pylint & mypy
# Also update the readme accordingly

# When dependencies release new versions and tests succeed, we should try to expand the allowed
# versions and only increase the lower bound if necessary

# httpx has no stable release yet, so let's be cautious for now
httpx ~= 0.23.3
pip~=22.3.1
cryptography~=39.0.0
tornado~=6.2
setuptools~=65.5.0
pytz~=2022.7
APScheduler~=3.9.1.post1
aiolimiter~=1.0.0
cachetools~=5.2.0